.container{
    margin-top: 50px;
}

.UnidadesPage-container{
    text-align: center;
    margin-top: 50px;
}

.UnidadesPage-container h1{
    font-size: 3rem;
    color: #333;
}

.UnidadesPage-container p{
    font-size: 1.2rem;
    color: #666;
}